/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}


/* Nav-Bar */

.hero-wrapper {
    width: 100%;
    background: #10449f;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
    padding-top: 56px;
    padding-bottom: 80px;
}

.nav-bar img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    align-self: stretch;
}

.nav-right ul li {
    list-style: none;
}

.nav-right ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.diagnose-now a button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 32px;
    background: #ee2e31;
    border: none;
}

.diagnose-now a button {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}


/* footer */

.footer-wrapper {
    width: 100%;
    background: #10449f;
}

.footer-section {
    max-width: 1440px;
    margin: 0 auto;
    background: #10449f;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
    padding-top: 42px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.footer-bottom {
    padding: 24px 72px;
    padding-bottom: 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}


/* Responsive Footer */

@media (max-width: 900px) {
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;
        padding-top: 30px;
    }
    .footer-top .footer-top-right {
        padding-top: 20px;
    }
    .footer-bottom {
        padding: 16px;
        padding-bottom: 42px;
    }
}