.question {
    display: flex;
    width: 1296px;
    padding: 24px;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    align-items: flex-end;
}

.question h3 {
    color: var(--text-color, #3D3D3D);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}

.comment {
    width: 100%;
    font-style: italic;
    color: #10449F;
}

.slider {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

.slider span {
    font-size: 24px;
}