.yesno {
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #3D3D3D;
    background: #FFF;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 64px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    width: 1296px;
    padding: 24px;
    flex-direction: column;
    gap: 20px;
}

.buttons>a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}