body {
    background: var(--light-blue, #DBF5FF);
}

main {
    height: 250vh;
}

.container>h2 {
    font-weight: 600;
    margin-bottom: 24px;
}

.container {
    width: 1296px;
    height: max-content;
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
}

.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
}

.details {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

span {
    font-weight: 500;
}

.container>p {
    font-size: 20px;
}

#result {
    margin: 40px auto;
    display: flex;
    padding: 24px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #EE2E31;
    color: #EE2E31;
    width: max-content;
}

#map>iframe {
    width: 60vw;
    margin: 0 auto;
    height: 100vh;
}

.hide {
    display: none;
}

.view {
    border-radius: 32px;
    border: 2px solid var(--text-color, #2D2D2D);
    width: max-content;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    background-color: rgba(0, 195, 255, 0.213);
}

#precautions li {
    margin-left: 24px;
    font-size: 18px;
}

.warning {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.196);
    padding: 16px;
    border-radius: 16px;
    font-size: 16px !important;
    margin-bottom: 40px;
}